/* #region preamble */
    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
    }
    
    html, body {
        font-size: 22px;
    }
    
    body {
        /* #region CSS Vars */

            --bodyTxtColor: #000000;
            --bodyBgColor: #ebebeb;
            --wholeMaxWidth: 1200px;
            --hdrPaddingMob: 5vh;
            --hdrFontSzMob: 1.5rem;
            --hdrFontSzMid: 2rem;
            --hdrFontSzTab: 3rem;
            --subhdrFontSzMob: .9rem;   /* proportional size based on styletile for hdrFontSzMob */
            --subhdrFontSzMid: 1rem;    /* ((x / 1.5rem) = (24px/44px)) = approx .82rem */
            --subhdrFontSzTab: 1.25rem; /*    "      "   = (24px/60px)) = approx .6rem */
                                        /* ((x / 2rem))  =    "    "    = approx .8rem */

            /* headers */
                --hdrColor: #005f9a;
                --subhdrColor: #0f2f4d;

            /* link colors */
                --linkColor: #6b2502;
                --linkHvrColor: #6b250242;
                --linkBorderColor: #ab744b;
                --navBgColor: #f8b200;
                --hlgtLinkColor: #cc0e26;
                --hlgtLinkHvrColor: #9e0e26;
                --rmCardBgColor: #feda97;
                --rmCardLinkBgColor: #6b25022b;
            
            /* blockquote */
                --blockqtBgColor: #f5f5f5;
            
            /* misc */
                --formInputBgColor: #ffffff;
                --lightAccentColor: hsl(194, 36%, 80%);
                --accentColor: #8abac8;
                --darkAccentColor: #4089b3;

        /* #endregion */
        font-family: kepler-std, Garamond, serif;
        color: var(--bodyTxtColor);
        background-color: var(--bodyBgColor);
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    
    input, button, textarea, select {
        font: inherit;
    }
    
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: normal;
    }
    
    #root, #__next {
        isolation: isolate;
    }

    /* basic links */
        a {
            font-weight: 500;
            color:var(--linkColor);
            text-decoration: none var(--linkHvrColor);
            transition: all .125s ease-out;
        }

        a:hover {
            opacity: .7;
            text-decoration:underline solid var(--linkHvrColor);
        }

        a:active {
            opacity: .5;
        }
    
/* #endregion */

/* #region MOBILE */
    
    /* #region MOBILE header */
        header {
            z-index: 100;
            position: sticky;
            position: -webkit-sticky;
            top: -7.75rem;
            background-image: url(../images/headerimg.jpg);
            width: 100%;
        }

        header div.wrapper {
            max-width: calc(100px + var(--wholeMaxWidth));
            margin: auto;
        }

        header section.title {
            padding: 7vmin;
        }

        header h1.title, header h2.subtitle {
            text-transform:uppercase;
            font-size: var(--hdrFontSzMob);
            line-height: 1;
        }

        header h1.title {
            font-weight: 700;
            direction: rtl;
            color: var(--hdrColor);
            text-align: right;
        }

        header h2.subtitle {
            font-weight: 500;
            text-align: left;
        }

        header nav {
            background-color: var(--navBgColor);
        }

        header nav ul {
            list-style: none;
            padding: 3vmin 3vmin;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            line-height: 1;
            column-gap: 1vmin;
            row-gap: 2vmin;
        }

        header nav ul li {
            text-align: center;
        }

        header nav ul li a {
            text-transform: uppercase;
            font-weight: 600;
        }

        header nav ul li a:hover {
            opacity: .7;
            text-decoration: none;
        }

        header nav ul li a:active {
            opacity: .5;
        }

        a.current {
            border-bottom: 1px solid var(--linkHvrColor);
        }
    /* #endregion */

    /* #region MOBILE content */
        main {
            max-width: 1200px;
            margin: 3vmin;
        }

        article {
            margin-top: 10vmin;
        }

        /* #region MOBILE Content Header */
            section.page.header {
                display: flex;
                flex-flow: column nowrap;
                gap: 1vmin;
            }

            section.page.header h1 {
                text-align: center;
                font-weight: 600;
                line-height: 1.25;
                color: var(--hdrColor);
            }

            section.header h1.header {
                font-size: var(--hdrFontSzMob);
            }

            section.header h1.subheader {
                text-transform: uppercase;
                font-size: var(--subhdrFontSzMob);
                line-height: 1.5;
            }
        /* #endregion */

        img {
            margin: auto;
        }

        blockquote {
            margin: 7vmin 4vmin;
            border-left: 10px solid var(--accentColor);
            padding: 4vmin 7vmin;
            background: var(--blockqtBgColor);
        }

        section.hilgtdLink {
            margin: 4vmin 0;
        }

        a.highlight {
            display: block;
            text-decoration: none;
            text-align: center;
            color: var(--hlgtLinkColor);
            font-size: 1.05rem;
            font-family: cabrito-didone-condensed, Garamond, serif;
            font-weight: 500;
            font-style: italic;
            
            -webkit-font-smoothing:none;
        }

        a.highlight:hover {
            opacity: 1;
            text-decoration: underline;
        }

        figure+h2 {
            margin-top: 1vmin;
        }
        
        p+p {
            margin-top: 3vmin;
        }

        h2+p {
            margin-top: 5vh;
        }
    
        /* #region MOBILE about pg */

            section.about+section.about {
                margin-top: 7vmin;
            }

            section.about>section.hilgtdLink {
                margin: 0 0 4vmin 0;
            }

            section.testimonials {
                display: flex;
                flex-flow: column nowrap;
                gap: 5vmin;
                margin: 7vmin auto;
            }

            blockquote.testimon {
                color: #0d2f4d;
                font-family: cabrito-didone-condensed, sans-serif;
                font-weight: 500;
                font-style: italic;
                
                line-height: 1.5;
                margin: 1%;
            }
            
            blockquote.right {
                border-left: 0px;
                border-right: 10px solid var(--accentColor);
            }

            .quoted {
                display: block;
                margin-top: 2vmin;
                text-align: right;
                font-size: .75rem;
            }
        /* #endregion */

        /* #region MOBILE rooms cards */
                #rooms {
                    display: grid;
                    margin: 1rem auto;
                    grid-template-columns:repeat(auto-fill, minmax(325px, 2fr));
                    grid-template-rows: repeat(6, auto);
                    justify-content: center;
                }

                section.rmbox {
                    margin: .5rem;
                    padding: 20px;
                    background-color: var(--accentColor);
                }

                section.rmbox>section {
                    padding: 3vmin;
                }

                section.rmbox>section {
                    height: 450px;
                    border: 1px solid black;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                }

                section.center {
                    text-align: center;
                    display: block;
                }

                section.burgyork {
                    background: var(--rmCardBgColor) no-repeat url(../images/rooms/squares/room2.png) 50% -15%;
                }

                section.capwks {
                    background: var(--rmCardBgColor) no-repeat url(../images/rooms/squares/room1.png) 70% -10%;
                }

                section.drwill {
                    background: var(--rmCardBgColor) no-repeat url(../images/rooms/squares/room3.png) 20% -10%;
                }

                section.drrl {
                    background:var(--rmCardBgColor) no-repeat url(../images/rooms/squares/room4.png) 100% -10%;
                }

                section.thadth {
                    background: var(--rmCardBgColor) no-repeat url(../images/rooms/squares/room5.png) 0% -15%;
                }

                section.jarvdns {
                    background: var(--rmCardBgColor) no-repeat url(../images/rooms/squares/room6.png) 80% -20%;
                }

                section.rmdesc {
                    position: relative;
                    height: auto;
                }

                a.roomlnk {
                    display: inline-block;
                    margin: 3vmin 0 0 0;
                    width: 100%;
                    border-radius: .25rem;
                    font-size: 1rem;
                    background-color: var(--rmCardLinkBgColor);
                }

                a.roomlnk:hover {
                    text-decoration: none;
                    opacity: .7;
                    color: var(--hlgtLinkColor);
                    background-color: var(--rmCardLinkBgColor);
                }

                a.rmsblkbg, a.rmswhtbg {
                    color: black;
                    font-family: kepler-std-display;
                    font-weight: 700;
                    font-style: italic;
                    font-size: 1.5em;
                    text-shadow: 1px 1px 7px hsla(0, 100%, 0%, .5);
                    text-align: left;
                }
                
                a.rmsblkbg:hover {
                    opacity: 1;
                    text-shadow: 0px 0px 5px hsla(0, 100%, 0%, .75);
                    text-decoration: none;
                }
                
                a.rmswhtbg:hover {
                    text-decoration: none;
                    opacity: 1;
                    text-shadow: 0px 0px 5px hsla(0, 100%, 100%, .75);
                }
                
                a.rmsblkbg:active {
                    text-shadow: 1px 1px 7px hsla(0, 100%, 0%, .5);
                }
                
                a.rmswhtbg:active {
                    text-shadow: 1px 1px 7px hsla(0, 100%, 100%, .5);
                }
                
                a.rmswhtbg {
                    text-shadow: 1px 1px 7px hsla(0, 100%, 100%, .5);
                    text-align: left;
                }
            /* #endregion */
        
            /* #region MOBILE room pgs */
                section.breadcrumbs {
                    margin: auto;
                    font-size: 80%;
                }
            
                h1.rm.page.header {
                    color: var(--bodyTxtColor);
                    font-size: 1.25rem;
                }

                h2.rm.desc {
                    font-weight: 500;
                    font-size: 1rem;
                }

                section.features {
                    margin: 6vh auto;
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 4vh;
                }

                section.features p.listDesc {
                    font-weight: bold;
                }

                section.features ul {
                    margin: 1vh auto;
                    padding: 0 0 0 1.25rem;
                    line-height: 1.25;
                }

                a.button {
                    display: block;
                    color: var(--hlgtLinkColor);
                    font-weight: bold;
                    font-size: 1.05rem;
    
                    border: 1.5px solid var(--linkBorderColor);
                    border-radius: 2px;
                    background-color:var(--rmCardBgColor);
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.28);
                    
                    padding: .25vh;
                    margin: 9vh 6vw;
                }

                a.button:hover, a.button:active {
                    opacity: 1;
                    text-decoration: none;
                }

                a.button:hover {
                    border: 1.75px solid var(--linkBorderColor);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
                }
    
                a.button:active {
                    box-shadow: none;
                }

                section.back {
                    text-align: left;
                }

                section.back a.highlight {
                    display: inline-block;
                    opacity: .7;
                    margin: 6vh auto auto auto;
                    font-size: .85rem;
                    text-align: left;
                    transition: all .125s ease-in-out;
                    transform: translateX(0);
                }

                section.back a.highlight:hover {
                    opacity: 1;
                    transform: translateX(-.125rem);
                }

                section.back a.highlight span.before {
                    margin-right: .5rem;
                    display: inline-block;
                    text-decoration: none;
                    transition: all .125s ease-in-out;
                    transform:translateX(0);
                }

                section.back a.highlight:hover span.before {
                    transform: translateX(.125rem);
                }

            /* #endregion */

        /* #region MOBILE specials pg */
            section.info.center {
                margin: 2vh auto;
                padding: 2vw;

                background-color:hsla(0, 100%, 100%, .5);
                border: 1.5px solid var(--darkAccentColor);
            }

            section#specials {
                display: grid;
                gap: 2vh;
            }

            section#specials h2 {
                font-size: 1rem;
            }
        /* #endregion */

        /* #region MOBILE contact pg */
            blockquote.contact {
                word-wrap:normal;
                display: flex;
                flex-flow: column nowrap;
                row-gap: 2vh;
            }

            table>tbody {
                display: flex;
                flex-flow: row wrap;
            }

            table * {
                display: block;
                min-width: fit-content;
            }

            table th {
                text-align: left;
            }

            table td {
                width: 100%;
            }

            section.contact {
                margin: auto auto 2vh auto;
            }

            section.contact section.map {
                overflow-x: scroll;
            }

            blockquote section.email {
                word-wrap: break-word;
            }

            span.label {
                font-weight:bold;
            }

            section.contact.form {
                margin-bottom: 4vh;
            }

            /* #region MOBILE forms */

                form {
                    border: 1.5px solid black;
                    background-color: var(--lightAccentColor);
                    padding: 2vh 6vw;
                }
    
                form label {
                    font-weight: bold;
                    width: fit-content;
                }
    
                form input, form textarea {
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    padding: 0 3vw;
                }
    
                form textarea {
                    overflow: auto;
                    min-height: 2rem;
                }
    
                form .input {
                    margin-bottom: 1vh;
                }
    
                form .button {
                    cursor: pointer;
                    margin: 1vh auto 1vh auto;
    
                    color: var(--hlgtLinkColor);
                    font-weight: bold;
                    font-size: 1.05rem;
    
                    border: 1.5px solid var(--linkBorderColor);
                    border-radius: 2px;
                    background-color:var(--rmCardBgColor);
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.28);
                }
    
                form .button:hover {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
                }
    
                form .button:active {
                    box-shadow: none;
                }
        
            /* #endregion */

            section.contact h2 {
                font-size: 1.25rem;
            }

            iframe {
                margin-top: 2vh;
            }

        /* #endregion */

    /* #endregion */

    /* #region MOBILE footer */
        footer {
            width: 100%;
            margin: auto;
            padding: 5vmin;
            font-size: .75rem;
            line-height: 1.25;
            display: flex;
            text-align: center;
            flex-direction: column;
            row-gap: 6vmin;
        }

        footer ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        div.divider {
            width: 60%;
            height: 1px;
            background-color: hsla(0, 0%, 0%, 0.4);
            margin: 2rem auto 1rem auto;
        }

        /* #region MOBILE footer: social media links */
            section.ftr.socials ul {
                column-gap: 5vw;
                align-items: center;
            }

            section.ftr.socials ul a.social img {
                height: 10vw;
                min-height: 20px;
                max-height: 25px;
            }

        /* #endregion */

        /* #region MOBILE footer: boilerplate links */
            section.ftr.boilerplate ul {
                flex-flow: row wrap;
                justify-content: center;
                column-gap: 4vmin;
                line-height: 1.5;
            }

            section.ftr.boilerplate ul a.boilerplate {
                color: var(--bodyTxtColor);
                font-weight: 300;
                text-decoration: underline rgba(0, 0, 0, .3);
            }
        /* #endregion */

    /* #endregion */

/* #endregion */

/* #region media queries */

    /* #region SMALL & up media query */
    @media screen and (min-width: 235px) {
        header section.title h1.title,
        header section.title h2.subtitle {
            hyphens: none;
            word-break: keep-all;
        }

        figure.head img {
            max-height: initial;
        }

        img {
            max-height: 100vh;
        }

        /* #region SMALL contact pg */

            table>tbody {
                gap: 2vmin;
                width: 100%;
            }

            table>tbody * {
                width: 100%;
            }

        /* #endregion */

        /* #region SMALL specials pg */
            section.info.center {
                margin: 2vh 2vh 4vh 2vh;
            }
        /* #endregion */
    
        footer {
            font-size: .8rem;
        }
    }
    /* #endregion */

    /* #region MIDSIZE & up media query */
    @media screen and (min-width: 500px) {
        /* #region MIDSIZE & up header */
            header {
                padding: 0;
                /* top: -25%; */
            }

            section.hdr.title {
                padding: var(--hdrPaddingMob) 0;
                display: flex;
                justify-content: center;
                grid-template-columns: 1fr 1fr;
            }

            header section.title h1.title,
            header section.title h2.subtitle {
                hyphens: none;
                word-break: keep-all;
                width: max-content;
            }

            h1.title span.title,
            h2.subtitle span.subtitle {
                display:block;
                width: 100%;
            }

            header h1.title, header h2.subtitle {
                font-size: var(--hdrFontSzMid);
            }

            header h1.title {
                margin-right: -.125rem;
            }

            header h2.subtitle {
                margin-left: -.35rem;
            }

            header nav ul {
                padding: .5rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                gap: 1rem;
            }
                
        /* #endregion */

        /* #region MIDSIZE & up content */

            article {
                margin-top: 5vmin;
            }

            section.header {
                gap: 0;
                margin-bottom: 3vh;
            }
            
            section.header h1.header {
                font-size: var(--hdrFontSzTab);
            }

            section.header h1.subheader {
                font-size: var(--subhdrFontSzTab);
            }

            a.highlight {
                font-size: 1.25rem;
            }

            blockquote {
                border-left: 10px solid var(--accentColor);
                padding: 1rem 2rem;
            }

            /* #region MIDSIZE about pg */
                section.testimonials {
                    margin: 4vmin auto;
                    gap: 1vh;
                }

                blockquote.testimon {
                    color: #0d2f4d;
                    font-family: cabrito-didone-condensed, sans-serif;
                    font-weight: 500;
                    font-style: italic;
                    font-size: 1.05rem;
                    
                    line-height: 1.5;
                    margin: 2%;
                }

                .quoted {
                    display: block;
                    text-align: right;
                    font-size: .9rem;
                }

                section.about.beds figure {
                    float: left;
                    margin: 0 3vw 2vw 0;
                }
            /* #endregion */

            /* #region MIDSIZE specials pg */
                section.info.center {
                    margin: auto 5vh 5vh 5vh;
                    border: 2px solid var(--darkAccentColor);
                }

                section#specials {
                    grid-template-columns: 1fr 1fr;
                    gap: 4vh;
                }

                section#specials h2 {
                    font-size: 1.25rem;
                    margin-bottom: .25rem;
                }

                section#specials section {
                    background-color: var(--lightAccentColor);
                    border: 1.5px solid var(--darkAccentColor);
                    padding: 3vw;
                }
            /* #endregion */

            /* #region MIDSIZE contact pg */
                table>tbody {
                    display: flex;
                    gap: 0;
                }
        
                table * {
                    display: block;
                    min-width: fit-content;
                }

                table tr {
                    display: grid;
                    grid-template-columns: 4rem 1fr;
                    gap: 2vw;
                }

                table th {
                    text-align: right;
                }

                /* #region MIDSIZE forms */

                    form {
                        padding: 3vh 6vw;
                        display: grid;
                        grid-template-columns: 1fr 4fr;
                        max-width: 100%;
                        column-gap: .5rem;
                    }
            
                    form label {
                        font-weight: bold;
                        width: 100%;
                        text-align: right;
                    }
            
                    form input, form textarea {
                        resize: vertical;                
                        width: 100%;                
                        min-width: 100%;
                        max-width: 100%;
                        padding: 0 1vw;
                    }

                    form input[type="submit"] {
                        grid-column: 1 / -1;
                        padding: .25vh;
                        width: 35vw;
                        min-width: 35vw;
                        max-width: 35vw;
                        margin: 1vh auto;
                    }
                /* #endregion */

            /* #endregion */

        /* #endregion */

        /* #region MIDSIZE & up footer */
            footer {
                row-gap: 0;
                margin: 1rem auto 2rem auto;
                padding: 0 1rem;
                row-gap: .25rem;
            }

            footer section.ftr.socials {
                margin: auto;
            }

            footer section.ftr.socials ul {
                justify-content: center;
                column-gap: 1.5rem;
            }

            footer section.ftr.socials li {
                margin: auto;
            }

            footer section.ftr.boilerplate ul {
                column-gap: .5rem;
            }
        /* #endregion */
    }
    /* #endregion */

    /* #region TABLET & up media query */
    @media screen and (min-width: 750px) {

        /* #region TABLET & up header */

            header h1.title, header h2.subtitle {
                font-size: var(--hdrFontSzTab);
            }

            header nav ul li a {
                font-size: 1.25rem;
            }

        /* #endregion */

        /* #region TABLET & up content */

            main {
                margin: auto;
            }

            article {
                margin: 1.5rem;
            }

            /* #region TABLET page header */
                section.header h1.hdg {
                    font-size: var(--hdrFontSzTab);
                }

                section.header h1.sub {
                    font-size: var(--subhdrFontSzTab);
                    padding: 0;
                }

                section.header {
                    margin: 1rem 0;
                }

            /* #endregion */
            
            a.highlight {
                width: fit-content;
                margin: auto;
            }

            blockquote {
                max-width: 60vw;
            }

            /* #region TABLET about pg */
                section.about+section.about {
                    margin-top: 1rem;
                }

                section.about>section.hilgtdLink {
                    margin: 1rem auto;
                }

                section.testimonials {
                    display: flow-root;
                    margin: 1rem auto;
                }

                blockquote.right {
                    float: right;
                }

                section.about.beds figure {
                    float: left;
                    margin: 0 1rem 1rem 0;
                    max-width: 50%;
                }

                section.about.beds>h2 {
                    margin-top: 0;
                }

                section.about.provincetown {
                    margin: auto;
                }

            /* #endregion */

            /* #region TABLET rooms home pg */
                a.roomlnk {
                    margin: .5rem 0 0 0;
                    padding: 0 1rem;
                }
            /* #endregion */

            /* #region TABLET specials pg */
                section.info.center {
                    width: 65vw;
                    max-width: 800px;
                    margin: auto auto 2rem auto;
                }
            /* #endregion */
            
            /* #region TABLET contact pg */

                blockquote.contact {
                    margin: 1.5rem 7%;
                }

                table>tbody {
                    display: flex;
                    gap: 0;
                }
        
                table * {
                    display: block;
                    min-width: fit-content;
                }

                table tr {
                    display: grid;
                    grid-template-columns: 4rem 1fr;
                    gap: .5rem;
                }
        
                table th {
                    text-align: right;
                }

                section.contact.form {
                    margin-bottom: 1.5rem;
                }

                /* #region TABLET forms */

                    form {
                        margin: 1rem auto;
                        padding: 2rem;
                        width: 600px;
                        row-gap: .25rem;
                        column-gap: .5rem;
                    }
            
                    form input, form textarea {
                        width: 100%;
                        max-width: 100%;
                        min-width: 100%;
                        padding: 0 .25rem;
                    }

                    form textarea {
                        height: 5rem;
                    }

                    form input[type="submit"] {
                        grid-column: 1 / -1;
                        padding: .125rem;
                        width: 40%;
                        min-width: 40%;
                        max-width: 50%;
                        margin: .5rem auto;
                    }

                /* #endregion */

                iframe {
                    margin-top: 1rem;
                }

            /* #endregion */

        /* #endregion */

        /* #region TABLET & up footer */

            div.divider {
                width: 60%;
                margin: 2rem auto 1.5rem auto;
            }
        
        /* #endregion */
        
    }
    /* #endregion */

    /* #region LARGE & up media query */
    @media screen and (min-width: 1201px) {

        header {
            padding: 1rem;
            top: -13rem;
        }

        header h1.title {
            margin-right: -.25rem;
        }
        
        main {
            margin: 2rem auto auto auto;
        }

        a.roomlnk {
            background-color: transparent;
        }

        section.info.center {
            padding: 1rem;
            font-size: 1rem;
        }

        section#specials {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    /* #endregion */

    /* #region PRINT */
    @media print {
        footer {page-break-after: always;}
    }
    /* #endregion */

/* #endregion */